extends layout/index.pug

block slider
    .slider
        h1 Rio de Janeiro
        em aventura

block contenido
    main.container.mt-5 
        h2.text-center.mb-5 SObre Nosotros
        .row.mb-5 
            .col-md-6 
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo dolorem voluptates et eveniet corporis eius voluptatem quos veritatis a. Sint eum sit eius soluta, consequuntur laborum dolores nobis dolor itaque!
                p lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo dolorem voluptates et eveniet corporis eius voluptatem quos veritatis a. Sint eum sit eius soluta, consequuntur laborum dolores nobis dolor itaque!
            .col-md-6
                img(src='/img/inicio_nosotros.jpg', alt='Imagen de los nosotros' class='img-fluid')

        include ./layout/bloque_viajes

    .descuento
        .container 
            .row
                .col-md-6
                    .contenido 
                        h3 5% Descuento
                        p.titulo Viaje a Canada 
                        p.fecha 20 de Marzo de 2025 - 28 de Marzo de 2025
                        p.precio $2500 USD

    .container
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales