extends layout/index.pug

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis eros eget nunc rhoncus maximus sit amet at augue. Suspendisse in augue id nulla laoreet sagittis id in diam. Mauris faucibus, nulla eu aliquam interdum, justo nulla vestibulum orci, at mattis enim purus a mi. Cras feugiat lobortis augue, quis aliquam velit interdum ac. Quisque a volutpat neque. Duis feugiat est vel tortor malesuada, vel maximus risus gravida. Sed molestie accumsan velit sed finibus. Nullam viverra mattis viverra. In pharetra nisi venenatis, vehicula diam eu, congue orci. Donec molestie nisi ac nisl maximus, eu convallis metus facilisis.

                p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin sit amet metus tempor, interdum lectus ut, maximus mi. Ut at magna quis felis accumsan bibendum vitae fringilla nisl. Donec eget tellus eu ligula tempus finibus. Cras tristique tincidunt tortor, at consectetur eros vehicula nec. 

                p Donec convallis, tellus vitae placerat placerat, mauris orci convallis libero, in fermentum leo tortor sit amet eros. Integer rhoncus turpis eget ex feugiat volutpat. Vivamus id nulla condimentum, ornare metus in, dictum quam. Phasellus enim est, varius at venenatis nec, dictum sed libero. Cras iaculis ante sit amet risus condimentum, id efficitur velit ornare. Fusce vestibulum velit id ultrices volutpat. Ut tincidunt velit erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src='img/icono_seguridad.svg', alt='icono seguridad', class='img-fluid mb-4')
                    h2.mb-4 Seguridad
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus quae ratione voluptate hic, officiis veritatis totam dicta delectus, magnam aliquam obcaecati harum quasi. Iste, qui quam. Rerum molestias rem ipsam.
                .col-md-4
                    img(src='img/icono_destinos.svg', alt='icono destinos', class='img-fluid mb-4')
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus quae ratione voluptate hic, officiis veritatis totam dicta delectus, magnam aliquam obcaecati harum quasi. Iste, qui quam. Rerum molestias rem ipsam.
                .col-md-4
                    img(src='img/icono_precios.svg', alt='icono precios', class='img-fluid mb-4')
                    h2.mb-4 Los Mejores Precios
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus quae ratione voluptate hic, officiis veritatis totam dicta delectus, magnam aliquam obcaecati harum quasi. Iste, qui quam. Rerum molestias rem ipsam.